*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* align-items: center; */
 /* dracula orchid #2d3436 https://flatuicolors.com/palette/us */
  color: #2d3436;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  /* how do I set the font-size on the body? */
  /* justify-content: center; */
  min-height: 100vh;
}

.left-col {
  background-color: #dfe6e9;

  min-height: 100vh;
  padding: 1em;
  width: 15%;
}

.circle {
  align-items: center;
  border: 5px solid #74b9ff;
  border-radius: 100px;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 2.5em auto 0 auto;
  width: 100px;
}

.fa-sitemap {
  color: #0984e3;
  font-size: 3em;
}

.nav  {
  border: 1px solid hotpink;
  margin-top: 3em;
}

li {
  border-bottom: 1px solid #2d3436;
  padding: 0 0 1em 0;
  list-style-type: none;
}

.main {
  background-color: white;
  min-height: 100vh;
  width: 100vw;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
}

.section-display_text {
  font-size: 3rem;
  padding: 1em 0 .25em 0;
  text-align: center;
}

.fa-brackets-curly {
  color: #0984e3;
}

.section-subheading {
  margin-bottom: 1em;
  text-align: center;
  text-transform: capitalize;
}

.button-set {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.git-btn {
  background-color: #28B376;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1rem;
  margin-right: 10px;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
}

.git-btn:link,
.git-btn:visited {
  color: hotpink;
}

/* a:link, a:visited { /* a and a:link are equivalent (a just just a plain old selector)
	color: badAssColor;
}

a:focus, a:hover {
	color: uhhmazingColor;
}

a:active {
	color: jawDroppingColor;
} */

.fa-github {
  font-size: 1.5rem;
  margin-right: 10px;
}

.twitter-btn {
  background-color: #0984e3;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1rem;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
}

.twitter-btn:link,
.twitter-btn:visited {
  color: hotpink;
}

/* don't forget to follow this order

a:link,
a:visited {

}

a:focus, {
a:hover
}

a:active {

}*/

.fa-twitter {
  font-size: 1.5rem;
  margin-right: 10px;
}

.gallery {
  border: 1px solid #0984e3;
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
  padding: 1px;
}

.item {
  border: 1px solid magenta;
  height: 200px;
  width: 200px;
}


.footer {
  font-size: .75em;
  font-weight: 300;
  padding: 1em 0;
  text-align: center;
}

.footer > p { /*combinators https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors */
  margin-bottom: 5px;
}

.copy-right {
  font-size: 1.25em;
}


