<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="", rel="stylesheet")
    
    title Menu 1 | 🖥
  body
  h1 test
  p how will the directory out put once I save this?
  p ok it will create a dist/ at its root. Knowing this how do I proceed?
  p ahhh ok. I basically write the .pug file in the root as I would if I were writing the html and the only difference is I point my href to the dist folder for each component.
  p I would need to learn how to use partials now. I know where to get that info (from the FCC vid tuturial on YT)
  p how about the css for each file?
  p I would have a global css and I would have a component CSS (sort of like styled components) but how would I implement that?
